body {
  background-color: #242424;
}

a {
  color: #5093E2;
}

h1, h2, h3, p {
  margin-top: 0;
}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* padding: 2rem; */
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

nav {
  padding: 30px;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
  color: #F3BF99;
  font-weight: normal;
}

section.business-card {
  background-color: #1A1B21;
  width: 317px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.business-card main {
  text-align: left;
  padding: 30px 35px;
}

.business-card > p {
  font-size: 0.7rem;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  padding: 0 35px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #ffffff;
}

.buttons .email-button {
  color: #374151;
}

.buttons .linkedin-button {
  background-color: #5093E2;
  color: #ffffff;
}


/** * Chef Claude Page Styles
 */
header.chef-claude-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  color: black;
}

header.chef-claude-header img {
  height: 40px;
}

main.chef-claude-page {
  padding: 30px;
  background-color: #FAFAF8;
  color: black;
  padding-bottom: 50px;
}

main.chef-claude-page section {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

main.chef-claude-page h1 {
  margin-top: 30px;
}

main.chef-claude-page ul {
  display: inline-block;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-ingredient-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  margin-right: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background-color: white !important;
  color: black;
}
.add-ingredient-form button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #141414;
  color: white;
  cursor: pointer;
}
.add-ingredient-form button:hover {
  background-color: #3b73c1;
}

.add-ingredient-form button::before {
  content: "+";
  margin-right: 5px;
}

/** * Meme Generator Page Styles
 */

#meme-generator {
  max-width: 600px;
  margin: auto;
}

#meme-generator .form {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

#meme-generator .form {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

#meme-generator .form input {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

#meme-generator .form button {
    grid-column: 1 / -1;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

#meme-generator .form input, #meme-generator .form button {
    min-height: 40px;
    font-family: "Karla", sans-serif;
}

#meme-generator .meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#meme-generator .meme > img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

#meme-generator .meme span {
    position: absolute;
    text-align: center;
    margin-block: 15px;
    padding-inline: 5px;
    font-family: impact, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

#meme-generator .bottom {
    bottom: 0;
}

#meme-generator .top {
    top: 0;
}

/** Tenzies **/

#tenzies {
    margin: 0 auto;
    background-color: #0B2434;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
    height: 380px;
    
}

#tenzies main {
    width: 320px;
    height: 320px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tenzies .die-container {
  display:grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

#tenzies .die-container button {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px #00000026;
  color: #000;
  font-family: Karla;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 4px;
  border: none;
  display: inline-block;
  cursor: pointer;
}

#tenzies main button.roll {
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    padding: 0 20px
}

#tenzies button.green {
  background-color: #59E391;
}

#tenzies main h1 {
  font-size: 40px;
  margin: 0;
}

#tenzies main p {
  font-size: 0.8rem;
}

/** Assembly:Endgame **/

#assembly {
  margin: 0 auto;
}

#assembly header {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 20px;
}

#assembly header > h1 {
  color: #F9F4DA;
  font-size: 1.2rem;
  font-weight: 500;
}

#assembly header > p {
  color: #8E8E8E;
  font-size: 0.9rem;
}

#assembly .message-container {
  width: 353px;
  height: 60px;
  border-radius: 4px;
  margin: 0 auto 35px;
  color: white;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#assembly .message-container.farewell {
  background-color: #7A5EA7;
}

#assembly .message-container.won {
  background-color: #10A95B;
}

#assembly .message-container.lost {
  background-color: #BA2A2A;
}

#assembly .message-container h2, #assembly .message-container p {
  margin-bottom: 0;
}

#assembly section.languages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto 30px;
  gap: 4px;
}

#assembly section.languages .chip {
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 0.8rem;
  position: relative;
}

#assembly section.languages span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#assembly section.display-letters {
  width: 350px;
  margin: 0 auto 60px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

#assembly section.display-letters > span {
  width: 40px;
  height: 40px;
  background-color: #323232;
  color: #F9F4DA;
  border-bottom: 1px solid #F9F4DA;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

#assembly section.display-letters > span.correct {
  color: white;
}

#assembly section.display-letters > span.missed-letter {
  color: red;
}

#assembly section.keyboard {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 0 auto 30px;
}

#assembly section.keyboard > button {
  width: 40px;
  height: 40px;
  background-color: #FCBA29;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

#assembly section.keyboard > button.correct {
  background-color: #10A95B;
}

#assembly section.keyboard > button.wrong {
  background-color: #EC5D49;
}

#assembly button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    margin-bottom: 50px;
}

/** Assessments **/

#assessments {
  background-color: white;
  margin: 0 auto;
  max-width: 936px;
  padding: 20px 0;
  font-family: "Roboto Serif", sans-serif;
  text-align: left;
  padding: 20px;
} 

#assessments h2 {
  color: #140F50;
  text-align: left;
  font-weight: 700;
  padding-left: 20px;
}

#assessments button {
  background-color: white;
  border: 2px solid #5093E2;
  font-family: "Roboto Serif", sans-serif;
  color: #5093E2;
  font-weight: 700;
  border-radius: 3px;
  width: 170px;
  height: 56px;
  cursor: pointer;
  margin-top: 20px;
}

main.assessment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px #00000024;
}

main.assessment-container .heading {
  display: flex;
  width: 100%;
  text-align: left;
  background-color: #140F50;
  color: #FAFAFB;
  font-size: 1rem;
}

main.assessment-container .heading > div {
  padding: 20px 30px 20px 5px;
  flex: 1;
  border-left: 1px solid #D4DADE;
}

main.assessment-container .heading > div.title {
  flex: 3;
  border: none;
  padding-left: 20px;
}

main.assessment-container .row {
  display: flex;
  width: 100%;
  text-align: left;
  background-color: white;
  color: black;
  font-size: 1rem;
}

main.assessment-container .row > div {
  padding: 20px 30px 20px 5px;
  flex: 1;
  border-left: 1px solid #D4DADE;
}

main.assessment-container .row > div.title {
  flex: 3;
  border: none;
  padding-left: 20px;
}

main.assessment-container .grey {
  background-color: #FAFAFB;
}
